* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    background-image: linear-gradient(180deg, #101010, #151515, #101010);
    color: #fff;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 16px;
}

button {
    border: none;
    height: 40px;
    padding: 7px;
    min-height: 30px;
    min-width: 120px;
    cursor: pointer;
    max-width: 295px;
    border-radius: 1.5px;
    align-items: stretch;
    flex: 1;
}

#use {
    background-color: darkred;
    color: #fff;
}

#use:hover {
    background-color: rgb(166, 40, 40);
    transition: 0.7s;
}

#use:active {
    background-color: darkred;
}

#add {
    background-color: darkgreen;
    color: #fff;
}

#add:hover {
    background-color: rgb(32, 125, 32);
    transition: 0.7s;
}

#add:active {
    background-color: darkgreen;
}

.container {
    height: 100vh;
    width: 100vw;
    padding: 5vh 16vw;
}

/* ABOUT */

.about {
    margin-top: 50px;
    font-size: 20px;
}

.about p {
    margin-bottom: 4px;
}

h3 {
    margin-bottom: 8px;
}



